:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.layout-container {
  display: flex;
  flex: 1;
}

.content {
  flex: 1; 
  padding: 16px 24px;
  background: #f9fafb; 
  min-height: calc(100vh - 114px);
   overflow-y: auto;
}
