@use '@angular/material' as mat;

@include mat.core();

:root {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      secondary: mat.$blue-palette,
    )
  ));
}
